@charset "utf-8";
/*첫번째 항목의 스타일*/
ul.navi li:first-child{
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}
/*마지막 항목의 스타일*/
ul.navi li:last-child{
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}